/* Customização da Barra de Rolagem */

/* Para navegadores baseados em WebKit (Chrome, Safari, Edge, Opera) */
::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem vertical */
    height: 10px; /* Altura da barra de rolagem horizontal (se houver) */
}

::-webkit-scrollbar-track {
    background: var(--cinza-claro); /* Cor de fundo da área da barra */
    border-radius: 5px; /* Bordas arredondadas para a trilha */
}

::-webkit-scrollbar-thumb {
    background: var(--azul-medio); /* Cor do polegar */
    border-radius: 5px; /* Bordas arredondadas para o polegar */
    border: 2px solid var(--cinza-claro); /* Borda para dar um efeito de destaque */
    transition: background 0.3s ease; /* Transição suave na cor */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--azul-escuro); /* Cor do polegar ao passar o mouse */
}

::-webkit-scrollbar-button {
    display: none; /* Geralmente escondemos os botões de seta para um visual mais limpo */
}

/* Para Firefox */
html {
    scrollbar-width: thin; /* "thin" para uma barra mais fina */
    scrollbar-color: var(--azul-medio) var(--cinza-claro); /* thumb color / track color */
}

/* Adicional: Para garantir que o box-sizing seja consistente em todos os elementos */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}